@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

body {
  background-color: #faf5ea;
  color: #241b16;
}

::selection {
  background-color: #f3e3e0;
  color: #5e2626;
}
